body {
    margin: 0;
    font-family: neuzeit-grotesk, sans-serif;
    font-weight: 400;
    overflow: hidden;
    background-color: black;
}

h1 {
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font-size: 96pt;
    text-align: right;
    margin: 0;
    width: 100%;
    color: white;
    position: relative;
    top: 30vh;
    right: 75px;
    background: none;
}

.backup-header {
    position: absolute;
    top: 30vh;
    right: 75px;
    width: 100%;
}

.content-container {
    background: none;
    position: absolute;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    pointer-events: all;
}

.navbar {
    position: absolute;
    margin-top: 30px;
    margin-left: 10px;
    width: 100%;
}

.navbar ul {
    display: none;
    position: absolute;
    opacity: 0;
    list-style: none;
}

#nav-num1 {
    display: block;
    opacity: 1;
}

.navbar ul li {
    font-size: 18pt;
    float: left;
    margin-right: 45px;
}

.navbar a {
    padding: 0 5px;
    text-decoration: none;
    color: white;
    box-shadow: inset 0 0 0 0 white;
    transition: box-shadow 0.3s;
}

.navbar #web a:hover {
    box-shadow: inset 0 -16px 0 0 #f7d52d;
}
.navbar #roblox a:hover {
    box-shadow: inset 0 -16px 0 0 #b5b5b5;
}
.navbar #BLIS a:hover {
    box-shadow: inset 0 -16px 0 0 #121212;
}
.navbar #RHA a:hover {
    box-shadow: inset 0 -16px 0 0 #ffc907;
}
.navbar #hall-council a:hover {
    box-shadow: inset 0 -16px 0 0 #178fd4;
}
.navbar #VFX a:hover {
    box-shadow: inset 0 -16px 0 0 #d921c9;
}
.navbar #misc a:hover {
    box-shadow: inset 0 -16px 0 0 #f5eeb3;
}

.navbar .overlay-color {
    width: 100%;
    height: 100vh;
    position: fixed;
    background: #000000ff;
    top: 0;
    left: 0;
    margin: 0;
    z-index: -1;
    padding: 0;
    display: block;
    content: '';
    transition: background 0.5s;
}

.navbar ul li video {
    height: 100vh;
    position: fixed;
    content: cover;
    left: 50%;
    z-index: -100;
    top: 0;
    display: none;
    transform: translate(-50%, 0);
}

#RHA-icon {
    position: fixed;
    fill: white;
    stroke: white;
    stroke-width: 5px;
    stroke-dasharray: 0;
    z-index: -1;
    right: 75px;
    width: 50%;
    max-height: 75vh;
    overflow: visible;
    top: 250px;
    display: none;
    stroke-linecap: round;
}

#RHA a:hover ~ #RHA-icon {
    display: block;
    animation: animateRHA 3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

@keyframes animateRHA {
    0% {
        fill: none;
        stroke-dasharray: 200;
        stroke-dashoffset: 200;
    }
    40% {
        fill: #ffffff00;
    }
    80% {
        fill: #ffffffff;
    }
    100% {
        stroke-dasharray: 2000;
        stroke-dashoffset: 0;
    }
}

#BLIS-icon {
    position: fixed;
    fill: #121212;
    stroke: #121212;
    stroke-width: 5px;
    stroke-dasharray: 2500;
    z-index: -1;
    right: 75px;
    width: 50%;
    max-height: 75vh;
    overflow: visible;
    top: 100px;
    display: none;
    stroke-linecap: round;
}

#BLIS a:hover ~ #BLIS-icon {
    display: block;
    animation: animateBLIS 2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@keyframes animateBLIS {
    0% {
        fill: none;
        stroke-dashoffset: 2500;
    }
    60% {
        fill: #12121200;
    }
    100% {
        stroke-dashoffset: 0;
        fill: #121212ff;
    }
}

/*
.demo-videos {
    opacity: 0;
}

.demo-videos video {
    height: 100vh;
    position: fixed;
    content: cover;
    left: 50%;
    transform: translate(-50%, 0);
    visibility: hidden;
}
*/