body {
    margin: 0;
    font-family: effra, sans-serif;
    line-height: 1.4;
}

.nav {
    width: 100%;
    overflow: hidden;
    background-color: #141414;
}

.nav ul {
    padding-left: 50px;
    margin: 0;
    display: flex;
}

.nav li {
    list-style: none;
}

.nav a {
    font-size: 16pt;
    color: white;
    display: block;
    padding: 15px 18px;
    padding-top: 18px;
    margin: 0 3px;
    background-color: none;
    text-decoration: none;
}

.nav a:hover {
    background-color: black;
}

.nav #active {
    background-color: white;
    color: black;
}

#headline {
    background-image: url(main-image.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden;
    height: 90vh;
    color: white;
}

#headline img {
    height: 50%;
    margin: auto;
}

#about {
    background-color: #EE274E;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

#about .content-column {
    flex-basis: 20%;
    padding: 0 2.5%;
    padding-bottom: 20px;
    position: relative;
}

#about .content-column p {
    color: white;
    font-size: 18pt;
    margin-top: 0;
    margin-bottom: 15px;
}

#about .content-column h3 {
    color: #FFC907;
    font-size: 24pt;
    margin-bottom: 5px;
    padding-bottom: 0;
    margin-top: 15px;
}

.action-btn {
    display: inline-block;
    background-color: #141414;
    position: relative;
    text-decoration: none;
    color: white;
    padding: 7px 12px;
    font-size: 16pt;
    border-radius: 5px;
}

.action-btn:hover {
    background-color: #FFC907;
    color: #141414;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

#quote-parallax {
    position: relative;
    background-image: url(demo-image.jpg);
    background-repeat: no-repeat;
    background-position: 0 35%;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 125vh;
    overflow: hidden;
}

#quote-parallax #quote {
    position: relative;
    top: 40%;
    background-color: #FFC907;
    padding: 5px 0;
}

#quote-parallax #quote h3 {
    font-size: 24pt;
    padding-left: 5%;
}

#quote-parallax #quote p {
    text-align: right;
    font-size: 18pt;
    padding-right: 5%;
}

#get-involved {
    background-color: #EE274E;
    overflow: hidden;
    color: white;
    padding-left: 5%;
    font-size: 16pt;
}

#get-involved h3 {
    margin-top: 15px;
    color: #FFC907;
    font-size: 24pt;
    margin-bottom: 0;
}

#get-involved p {
    margin: 0;
    margin-bottom: 15px;
}
#get-involved .action-btn {
    margin-bottom: 20px;
}

.footer {
    padding-top: 15px;
    background-color: #141414;
    overflow: hidden;
    color: white;
}
.footer #content {
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
}

.footer #copyright {
    padding-left: calc(5% - 10px);
    font-size: 16pt;
    margin-top: 40px;
}

.footer #content div {
    flex-basis: 45%;
}

#comment-card-text {
    font-size: 14pt;
    resize: none;
    box-sizing: border-box;
    height: 15vh;
    width: 100%;
    padding: 7px;
    border-radius: 4px;
    border: none;
}

#contact h3 {
    margin-bottom: 12px;
    margin-top: 18px;
    font-size: 20pt;
}

#contact .action-btn {
    margin-top: 10px;
    background-color: #EE274E;
}

#contact .action-btn:hover {
    background-color: #FFC907;
}

#social-links {
    margin: 0;
    padding: 0;
}

#social-links ul {
    padding: 0;
    position: relative;
    top: calc(50% - 30px);
    display: flex;
    justify-content: space-around;
    list-style: none;
}

#social-links img {
    padding: 10px;
    margin: 0 5px;
    width: 4rem;
}