* {
    font-family: sans-serif;
}

body {
    margin:0;
    background-color: #ededed;
}

.navbar {
    z-index: 2;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 30px;
    margin-top: -40px;
    
    background-color: #171717;
    overflow:hidden;
}

.navbar li {
    float: left;
}

.navbar #home {
    margin-left: 20px;
}

.navbar li a {
    text-decoration: none;
    color: #ededed;
    display: block;
    padding: 12px;
    padding-top: 20px;
}

.navbar a:hover:not(.active){
    background-color: #2b2b2b;
}

.navbar .active {
    background-color: #ededed;
    color: #171717;
}

.dropdown {
    display: none;
    min-width: 100px;
    box-shadow: 0px 5px 10px 0px #00000012;
    background-color: #2b2b2b;
    z-index: 1;  
    position: absolute;
}

.dropdown a {
    display: block;
}

.navbar .dropdown-master:hover .dropdown {
    display: block;
}

.parallax {
    background-image: url("main.png");
    position: relative;
    height: 500px;
    
    background-attachment: fixed;
    background-position: 45%;
    background-size: cover;
    background-repeat: no-repeat;
}
.parallax h1 {
    position: absolute;
    color: #ededed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-shadow: 0 0 50px black;
}

.content {
    float:left;
    width:46%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
}
.content-row:after {
    content: "";
    display: table;
    clear:both;
}

.footer {
    background-color: #171717;
    color: #ededed;
    font-size: 9pt;
    text-align: center;
    margin-top: 40px;
    padding-top: 5px;
    padding-bottom: 10px;
}
.footer p {
    margin:5px;
}


#about-img {
    width:25%;
    min-width: 220px;
    border-radius: 50%;
    position: relative;
    margin-left: 50%;
    margin-top: 30px;
    transform: translate(-50%);
}

.about-content {
    width: 70%;
    margin-left: 50%;
    transform: translate(-50%);
    text-align: center;
}

.about-portfolio a {
    background-color: black;
    color: white;
    padding: 10px;
}

.about-portfolio {
    margin-top: 50px;
    margin-left: 50%;
    width: 80%;
    transform: translate(-30%);
}

@media (max-aspect-ratio:4/3) {
    h1 {
        font-size: 112pt;
    }
    h2 {
        font-size: 72pt;
    }
    p {
        font-size: 48pt;
    }
    
    .navbar {
        display: none;
    }
    
    .footer p {
        font-size: 12pt;
    }
    .content {
        width: 90%;
        margin-left: 5%;
        padding:0;
    }
    
    .parallax {
        height: 100vw;
    }
}