* {
    --people-cyan: #00b2ec;
    --people-yellow: #fff000;
    --rec-lh: 26px;
}

body {
    margin: 0;
}

/* --------- ARTICLE CONTENT --------- */
.body-container {
    width: 100%;
    max-width: 1164px;
    
    position: relative;
    left: 50%;
    padding-top: 145px;
    transform: translate(-50%, 0);
}

.source-header {
    position: relative;
    width: 100%;
    max-width: 1100px;
    left: 50%;
    transform: translate(-50%, 0);
    
    margin: 0;
    margin-bottom: 35px;
}

.source-header p {
    margin: 0;
    font-family: futura-pt, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 1.3px;
    text-transform: uppercase;
}

.source-header svg {
    height: 20px;
    transform: translate(0, 4px);
    fill: var(--people-cyan);
}

.source-header a {
    color: black;
    text-decoration: none;
    
    padding: 0 1px;
    padding-bottom: 2px;
    background: linear-gradient(black, black);
    background-repeat: no-repeat;
    background-size: 100% 0;
    background-position: 0 100%;
}

.source-header a:hover {
    background-size: 100% 1px;
}

.article {
    display: grid;
    grid-template-columns: [col1-start] 48px [col2-start] 32px [col3-start] auto [col4-start] 80px [col5-start] 300px;
    grid-auto-rows: auto;
    
    position: relative;
    max-width: 1100px;
    left: 50%;
    transform: translate(-50%, 0);
    overflow: hidden;
}

.article .article-header {
    grid-column: col1-start / col4-start;
    padding-bottom: 16px;
}

.article-header h1 {
    font-family: Basel-Regular, serif;
    font-weight: 300;
    font-size: 48px;
    line-height: 1.1;
    letter-spacing: 0.5px;
    margin: 0;
}

.article-header h4 {
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 1.35;
    
    margin: 0;
    margin-top: 25px;
}

.article-header #publication-info {
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-size: 16px;
    
    margin: 20px 0;
}

.article-header #publication-info a {
    font-weight: 600;
    color: black;
    text-decoration: none;
    box-shadow: inset 0 -1px 0 0 black;
    
    transition: box-shadow 0.1s;
}

.article-header #publication-info a:hover {
    box-shadow: inset 0 -1px 0 0 var(--people-yellow);
}

.article-header #publication-info #date {
    display: inline-block;
    color: #000000A2;
    padding-left: 12px;
    border-left: 1px solid rgba(0,0,0,0.15);
    margin: 0;
    margin-left: 6px;
}

.article .share-bar {
    position: relative;
    top: 0;
    grid-column: col1-start / col2-start;
}

.share-bar.fixed {
    position: absolute;
}

.share-bar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    
    top: 100px;
}

.share-bar li.share-button {
    margin-bottom: 10px;
    
    width: 48px;
    height: 58px;
}

.share-bar li.share-button a {
    width: 100%;
    height: 100%;
    display: block;
    
    border: 1px solid rgba(0,0,0,0.65);
    border-radius: 4px;
    
    text-decoration: none;
    color: black;
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
}

.share-bar li.share-button a:hover {
    border: 1px solid rgb(0,0,0);
}

.share-button svg:not(#instagram-icon) {
    width: 100%;
    height: 36px;
    margin: 0;
    padding: 0;
}

.share-button svg#instagram-icon {
    width: 100%;
    height: 28px;
    margin: 0;
    padding: 6px 0;
    
    fill: #833AB4;
}

.share-button p {
    line-height: 0;
    margin: 0;
}

.article .article-body {
    grid-column: col3-start / col4-start;
}

.article-body img {
    width: 100%;
}

.article-body .captioned-img img {
    display: block;
}

.article-body .captioned-img p {
    display: block;
    margin: 8px;
    margin-left: 0;
    font-size: 12px;
    line-height: 14px;
    color: rgba(0,0,0,0.65);
    padding-left: 4px;
    border-left: 1px solid rgba(0,0,0,0.65);
    text-transform: uppercase;
}

.article-body p {
    font-family: lora, serif;
    font-size: 18px;
    line-height: 28px;
    color: rgba(0,0,0,0.95);
    
    margin: 0;
    margin-top: 1em;
    margin-bottom: 1em;
}

.article-body p span.inline-link {
    box-shadow: inset 0 -3px 0 var(--people-yellow);
}

.article-body p span.inline-link a {
    color: rgba(0,0,0,0.95);
    text-decoration: none;
}

.article .article-ad {
    grid-column: col5-start;
    grid-row: 1 / span 2;
    
    position: relative;
    top: 0;
}

.article-ad.fixed {
    position: absolute;
}

/* --------- RECOMMENDED --------- */
.recommendation-container {
    margin-top: 65px;
    border-top: 1px solid var(--people-cyan);
}

.recommendation-container .recommendation-content {
    width: 100%;
    max-width: 1100px;
    
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    
    padding-top: 64px;
}

.recommendation-content h2 {
    font-family: acumin-pro-extra-condensed, sans-serif;
    font-size: 38px;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 1.7px;
    margin: 0;
    margin-bottom: 24px;
}

.recommendations {
    height: 400px;
    display: flex;
    column-gap: 24px;
    
    list-style: none;
    padding: 0;
}

.recommended-article-container {
    border: 1px solid rgba(0,0,0,0.15);
    width: calc((100% - 72px) / 4);
}

.recommended-article-image-container {
    display: block;
    position: relative;
    width: 100%;
}

.recommended-article-image-container::after {
    content: '';
    display: block;
    padding-bottom: 100%;
}

.recommended-article-image {
    position: absolute;
    width: 100%;
    height: 100%;
}

.recommended-article-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recommended-article-text {
    padding: 18px;
    padding-top: 14px;
}

.truncated-text {
    font-family: futura-pt, sans-serif;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 26px;
    
    background: linear-gradient(var(--people-yellow), var(--people-yellow));
    background-repeat: no-repeat;
    background-size: 100% 0px;
    background-position: 0 calc(100% - 1px);
    
    position: relative;
    
    --max-lines: 3;
    max-height: calc(var(--max-lines) * var(--rec-lh));
    overflow: hidden;
    padding-right: 1rem;
}

.truncated-text::after {
    content: "...";
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

.recommended-article-text a {
    text-decoration: none;
    color: black;
}

.recommended-article-text span:hover {
    background-size: 100% 3px;
}

.recommended-article-text p {
    font-family: futura-pt, sans-serif;
    font-size: 17px;
    color: rgba(0,0,0,0.65);
    line-height: 1;
    margin: 10px 0 0 0;
}


/********************************** RESPONSIVENESS & MOBILE OPTIMIZATION **********************************/
@media screen and (max-width: 1120px) {
    .body-container {
        width: 640px;
        left: 50%;
        transform: translate(-50%, 0);
        margin: 0;
    }
    
    .share-bar ul {
        display: block;
    }
    
    .share-bar li.share-button {
        height: 44px;
        float: left;
        width: 90px;
        margin-right: 15px;
        border: 1px solid rgba(0,0,0,0.65);
        border-radius: 4px;
        margin-bottom: 20px;
    }
    
    .share-bar li.share-button:hover {
        border: 1px solid rgb(0,0,0);
    }
    
    .share-bar li.share-button a {
        display: flex;
        text-align: left;
        position: relative;
        border: none;
    }

    .share-bar li.share-button a:hover {
        border: none;
    }
    
    .share-button svg {
        display: block;
        min-width: 36px;
        flex-basis: 36px;
        position: relative;
        top: 50%;
        transform: translate(0, -50%);
    }
    
    .share-button p {
        display: block;
        position: relative;
        top: 50%;
        flex-basis: calc(100% - 36px);
    }
    
    .article {
        width: 100%;
        display: block;
        left: 50%;
        transform: translate(-50%, 0);
    }
    
    .article .article-header {
        padding-bottom: 20px;
    }
    
    .article-header h4 {
        margin-top: 20px;
    }
    
    .article-header #publication-info {
        margin: 10px 0;
    }
    
    .article-ad {
        display: none;
    }
    
    .recommendation-container {
        width: 100%;
    }
    
    .recommendation-container .recommendation-content {
        width: 640px;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        margin: 0;
        padding-top: 40px;
    }
    
    .recommendation-content .recommendations {
        column-gap: 24px;
        height: 300px;
        padding: 0;
        margin: 0;
    }
    
    .recommendations li {
        width: calc((100% - 48px) / 3);
    }
    
    .truncated-text {
        --max-lines: 2;
        max-height: calc(var(--rec-lh) * var(--max-lines));
        overflow: hidden;
        padding-right: 1em;
        position: relative;
    }
    
    .truncated-text::after {
        content: "...";
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 1000;
    }
    
    .recommendations li:nth-child(4) {
        display: none;
    }
    
    .article-body p span.inline-link {
        box-shadow: inset 0 -3px 0 var(--people-cyan);
    }
}

@media screen and (max-width: 820px) {
    .body-container {
        padding-top: 85px;
    }
}

@media screen and (max-width: 690px) {
    .body-container {
        width: 100%;
        left: 50%;
        transform: translate(-50%, 0);
        margin: 0;
    }
    
    .source-header {
        width: calc(100% - 30px);
    }
    
    .share-bar ul {
        display: block;
    }
    
    .share-bar li.share-button {
        height: 44px;
        float: left;
        width: 90px;
        margin-right: 15px;
        border: 1px solid rgba(0,0,0,0.65);
        border-radius: 4px;
        margin-bottom: 20px;
    }
    
    .share-bar li.share-button:hover {
        border: 1px solid rgb(0,0,0);
    }
    
    .share-bar li.share-button a {
        display: flex;
        text-align: left;
        position: relative;
        border: none;
    }

    .share-bar li.share-button a:hover {
        border: none;
    }
    
    .share-button svg {
        display: block;
        min-width: 36px;
        flex-basis: 36px;
        position: relative;
        top: 50%;
        transform: translate(0, -50%);
    }
    
    .share-button p {
        display: block;
        position: relative;
        top: 50%;
        flex-basis: calc(100% - 36px);
    }
    
    .article {
        width: calc(100% - 30px);
        display: block;
        left: 50%;
        transform: translate(-50%, 0);
    }
    
    .article .article-header {
        padding-bottom: 20px;
    }
    
    .article-header h1 {
        font-size: 36px;
    }
    
    .article-header h4 {
        margin-top: 20px;
    }
    
    .article-header #publication-info {
        margin: 10px 0;
    }
    
    .article-ad {
        display: none;
    }
    
    .recommendation-container {
        width: 100%;
    }
    
    .recommendation-container h2 {
        font-size: 32px;
    }
    
    .recommendation-container .recommendation-content {
        width: calc(100% - 30px);
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        margin: 0;
        padding-top: 40px;
    }
    
    .recommendations li {
        width: calc((100% - 24px) / 2);
    }
    
    .recommendation-content .recommendations {
        height: 300px;
        padding: 0;
        margin: 0;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
    }
    
    .truncated-text {
        --max-lines: 3;
        max-height: calc(var(--rec-lh) * var(--max-lines));
        padding-right: 1rem;
        position: relative;
    }
    
    .truncated-text::after {
        content: "...";
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 1000;
    }
    
    .recommendations li:nth-child(4), .recommendations li:nth-child(3) {
        display: none;
    }
}