@font-face {
  font-family: 'ObelixPro-Bold';
  src: url('obelix/obelixprobit-cyr.eot');
  src: url('obelix/obelixprobit-cyr.eot?#iefix') format('embedded-opentype'),
       url('obelix/obelixprobit-cyr.woff') format('woff'),
       url('obelix/obelixprobit-cyr.ttf') format('truetype'),
       url('obelix/obelixprobit-cyr.svg#ObelixPro-BoldItalic') format('svg');
}

* {
    --border-width: 10px;
    --margin-width: -5px;
    font-family: ObelixPro-Bold, "Comic Sans MS", sans-serif;

}

body {
    touch-action: none;
    overflow: hidden;
    height: 100vh;
    border: 1px solid red;
}
.maze.container {
    left: 50%;
    transform: translate(-50%, 0);
    position: relative;
    top: 25px;
    height: 450px;
    width: 450px;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
}

.maze.container span {
    display: block;
    margin: var(--margin-width);
    /*outline: 1px dashed blue;*/
}


.border-left {
    border-left: var(--border-width) solid black;
}
.border-right {
    border-right: var(--border-width) solid black;
}
.border-top {
    border-top: var(--border-width) solid black;
}
.border-bottom {
    border-bottom: var(--border-width) solid black;
}

.edge-left {
    border-left: var(--border-width) solid black;
}
.edge-top {
    border-top: var(--border-width) solid black;
}
.edge-right {
    border-right: var(--border-width) solid black;
}
.edge-bottom {
    border-bottom: var(--border-width) solid black;
}

.maze .end {
     background: #faea18;
}

.maze.player {
    height: 20px;
    width: 20px;
    position: absolute;
    background: #df1e2f;
    border-radius: 100%;
    z-index: 100;
    margin: 17.5px;
}

@keyframes popupElastic {
	0% {
		transform: translate(-50%,0) rotate(20deg) scale(0.5);
	}

	16% {
		transform: translate(-50%,0) rotate(-6.4deg) scale(1.16);
	}

	28% {
		transform: translate(-50%,0) rotate(2.6deg) scale(0.925);
	}

	44% {
		transform: translate(-50%,0) rotate(-1deg) scale(1.025);
	}

	59% {
		transform: translate(-50%,0) rotate(0.4deg) scale(0.99);
	}

	73% {
		transform: translate(-50%,0) rotate(-0.2deg) scale(1.005);
	}

	88% {
		transform: translate(-50%,0) rotate(0) scale(1);
	}

	100% {
		transform: translate(-50%,0) rotate(0) scale(1);
	}
}

@keyframes popoutElastic {
	0% {
        visibility: visible;
		transform: translate(-50%,0) rotate(0deg) scale(1);
	}

	16% {
        visibility: visible;
		transform: translate(-50%,0) rotate(-26.4deg) scale(0);
	}

	28% {
        visibility: visible;
		transform: translate(-50%,0) rotate(17.4deg) scale(0.16);
	}

	44% {
        visibility: hidden;
		transform: translate(-50%,0) rotate(-21deg) scale(0);
	}

	100% {
        visibility: hidden;
		transform: translate(-50%,0) rotate(20deg) scale(0);
	}
}

.winner {
    visibility: hidden;
    position: absolute;
    text-align: center;
    transform-origin: center;
    left: 50%;
    top: 175px;
    height: 200px;
    width: 200px;
    align-content: center;
    transform: translate(-50%,0) rotate(0) scale(0.5);
    background: #df1e2f;
    border-radius: 100%;
}

.winner.showing {
    visibility: visible;
    transform: translate(-50%,0) rotate(0) scale(1);
    animation: popupElastic 1s;
}

.winner.hiding {
    visibility: hidden;
    animation: popoutElastic 1s;
}

.winner h2 {
    margin: 0;
    line-height: 1.2;
    font-size: 28pt;
    letter-spacing: 2px;
    color: white;
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
}

p.instructions{
    position: relative;
    top: 40px;
    width: 450px;
    margin: 0 auto;
}

.mobile-controller {
    position: relative;
    top: 60px;
    left: 50%;
    transform: translate(-50%, 0);
    display: grid;
    width: calc(100vh - 700px);
    height: calc(100vh - 700px);
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.mobile-controller div:not(.empty) {
    border-radius: 10%;
    text-align: center;
    position: relative;
    margin: 2px;
    background: #df1e2f;
    display: block;
    
    transition: background 0.1s;
}

.mobile-controller div.activated {
    background: #b21826;
}

.mobile-controller a {
    font-family: sans-serif;
    font-size: 30pt;
    color: white;
    text-decoration: none;
    font-style: normal!important;
    position: absolute;
    line-height: 1.65;
    margin: 0;
    padding: 0;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}